In [13]:
import pandas as pd

<h4>指定行</h4>

In [9]:
data = pd.read_csv('exe1.txt', names=['1', '2', '3', '4', 'message'])
data

   1   2   3   4    message
0  1   2   3   4      hello
1  5   6   7   8      world
2  9  10  11  12        foo

添加索引

In [11]:
names = ['1', '2', '3', '4', 'message']
data = pd.read_csv('exe1.txt', names=names, index_col='message')
data

           1   2   3   4
message
    hello  1   2   3   4
    world  5   6   7   8
     foo   9  10  11  12

In [15]:
data = pd.read_csv('exe1.txt')
data

                A         B         C  Unnamed: 1
0   aaa -0.264438 -1.026059 -0.619500         NaN
1   bbb  0.927272  0.302904 -0.032399         NaN
2   ccc -0.264273 -0.386314 -0.217601         NaN
3   ddd -0.871858 -0.348382  1.100491         NaN

In [17]:
data = pd.read_table('exe1.txt', sep='s+')
data

d:\python3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

读取几行

In [19]:
data = pd.read_excel('土木补打卡名单.xlsx', nrows=5)
data

,2020-2021年第一学期土木学院补操名单,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,序号,学院,班级,姓名,原因,补刷时间
1,1,土木学院,土木1803,唐钰明,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
2,2,土木学院,土木1801,才宇,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
3,3,土木学院,土木1801,李想,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
4,4,土木学院,土木1801,徐伟贺,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期

逐块读取

In [22]:
data = pd.read_csv('土木补打卡名单.xlsx', chunksize=20)
tot = pd.Series([])
for d in data:
    tot = tot.add(d['key'].value_counts(), fil_value=0)
tot = tot.sort_values(ascending=False)
tot[:10]

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 2

将数据文件写到文本文件

In [24]:
data = pd.read_excel('土木补打卡名单.xlsx')
data

,2020-2021年第一学期土木学院补操名单,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,序号,学院,班级,姓名,原因,补刷时间
1,1,土木学院,土木1803,唐钰明,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
2,2,土木学院,土木1801,才宇,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
3,3,土木学院,土木1801,李想,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
4,4,土木学院,土木1801,徐伟贺,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
...,...,...,...,...,...,...
56,NaN,土木学院,运输1841,谢天奇,2019-2020学年第一学期打卡不合格,2020-2021年第一学期
57,NaN,土木学院,运输1841,张枝强,2019-2020学年第一学期打卡不合格,2020-2021年第一学期
58,NaN,土木学院,运输1841,岳静楠,2019-2020学年第一学期打卡不合格,2020-2021年第一学期
59,NaN,土木学院,工程1841,李振宇,2019-2020学年第一学期打卡不合格,2020-2021年第一学期
60,NaN,土木学院,机制1841,李卓衡,2019-2020学年第一学期打卡不合格,2020-2021年第一学期

In [25]:
data.to_csv('exe2.csv')

In [26]:
data = pd.read_csv('exe2.csv')
data

,Unnamed: 0,2020-2021年第一学期土木学院补操名单,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,序号,学院,班级,姓名,原因,补刷时间
1,1,1,土木学院,土木1803,唐钰明,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
2,2,2,土木学院,土木1801,才宇,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
3,3,3,土木学院,土木1801,李想,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
4,4,4,土木学院,土木1801,徐伟贺,2018-2019第一学期旷操超过总刷卡次数20%,2020-2021年第一学期
...,...,...,...,...,...,...,...
56,56,NaN,土木学院,运输1841,谢天奇,2019-2020学年第一学期打卡不合格,2020-2021年第一学期
57,57,NaN,土木学院,运输1841,张枝强,2019-2020学年第一学期打卡不合格,2020-2021年第一学期
58,58,NaN,土木学院,运输1841,岳静楠,2019-2020学年第一学期打卡不合格,2020-2021年第一学期
59,59,NaN,土木学院,工程1841,李振宇,2019-2020学年第一学期打卡不合格,2020-2021年第一学期
60,60,NaN,土木学院,机制1841,李卓衡,2019-2020学年第一学期打卡不合格,2020-2021年第一学期

In [28]:
import sys

data.to_csv(sys.stdout, sep='|', na_rep='NULL')   # 输出

|Unnamed: 0|2020-2021年第一学期土木学院补操名单|Unnamed: 1|Unnamed: 2|Unnamed: 3|Unnamed: 4|Unnamed: 5
0|0|序号|学院|班级|姓名|原因|补刷时间
1|1|1|土木学院|土木1803|唐钰明|2018-2019第一学期旷操超过总刷卡次数20%|2020-2021年第一学期
2|2|2|土木学院|土木1801|才宇|2018-2019第一学期旷操超过总刷卡次数20%|2020-2021年第一学期
3|3|3|土木学院|土木1801|李想|2018-2019第一学期旷操超过总刷卡次数20%|2020-2021年第一学期
4|4|4|土木学院|土木1801|徐伟贺|2018-2019第一学期旷操超过总刷卡次数20%|2020-2021年第一学期
5|5|5|土木学院|土木1802|陈朝刚|被替打卡|2020-2021年第一学期
6|6|6|土木学院|土木1802|樊伟|2018-2019第二学期旷操超过总刷卡次数20%|2020-2021年第一学期
7|7|7|土木学院|土木1802|金祥宇|2018-2019第一学期旷操超过总刷卡次数20%|2020-2021年第一学期
8|8|8|土木学院|土木1802|宁永浩|被替打卡|2020-2021年第一学期
9|9|9|土木学院|土木1802|武雨婷|2018-2019第一学期旷操超过总刷卡次数20%|2020-2021年第一学期
10|10|10|土木学院|土木1802|袁书林|被替打卡|2020-2021年第一学期
11|11|11|土木学院|土木1803|杨万辉|被替打卡|2020-2021年第一学期
12|12|12|土木学院| 土木1801 | 李想|被替打卡|2020-2021年第一学期
13|13|13|土木学院|土木1801| 崔杰|被替打卡|2020-2021年第一学期
14|14|14|土木学院|排水1703|艾丽非热·艾合买提|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
15|15|15|土木学院|排水1703|殷毅然|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
16|16|16|土木学院|建筑1801|努尔波·努尔江|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
17|17|17|土木学院|建筑1801|叶斯波力·马英得拉|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
18|18|18|土木学院|建筑1801|娜迪亚·麦旦|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
19|19|19|土木学院|建筑1801|德丽娜·木呼亚提|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
20|20|20|土木学院|建筑1802|叶斯布力·马合萨提|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
21|21|21|土木学院|建筑1802|道林·哈依沙尔|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
22|22|22|土木学院|土木1801|李强|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
23|23|23|土木学院|土木1801|叶拉曼·也尔江|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
24|24|24|土木学院|土木1802|阿克朱力|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
25|25|25|土木学院|土木1803|肖凌凌|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
26|26|26|土木学院|土木1803|杨杰|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
27|27|27|土木学院|排水1801|周江|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
28|28|28|土木学院|排水1702|刘明健|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
29|29|29|土木学院|排水1703|殷毅然|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
30|30|30|土木学院|土木1703|阿布杜许库尔·阿不来提|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
31|31|31|土木学院|土木1703|布勒宏·木拉提别克|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
32|32|32|土木学院|土木1803|唐钰明|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
33|33|33|土木学院|土木1703|奚名响|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
34|34|34|土木学院|土木1703|张宝东|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
35|35|NULL|土木学院|采矿1801|万里|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
36|36|NULL|土木学院|采矿1801|姜宏勃|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
37|37|NULL|土木学院|采矿1801|阿迪力·买合苏提|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
38|38|NULL|土木学院|采矿1801|穆拉迪力江·麦麦提|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
39|39|NULL|土木学院|运输1801|刘斌|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
40|40|NULL|土木学院|运输1801|玛拉提·色尔克布力|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
41|41|NULL|土木学院|运输1801|韩晓雨|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
42|42|NULL|土木学院|运输1802|吕治岩|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
43|43|NULL|土木学院|运输1802|刘明澳|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
44|44|NULL|土木学院|运输1802|王有俊|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
45|45|NULL|土木学院|运输1802|阳祺麟|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
46|46|NULL|土木学院|运输1802|陈凌霄|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
47|47|NULL|土木学院|运输1802|迪吾然·迪本拉提|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
48|48|NULL|土木学院|运输1802|邵明涛|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
49|49|NULL|土木学院|运输1802|任文花|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
50|50|NULL|土木学院|运输1802|顾子恒|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
51|51|NULL|土木学院|地空1801|黄可镇|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
52|52|NULL|土木学院|地空1801|李辰泽|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
53|53|NULL|土木学院|地空1801|阿克卓尔·阿克帕尔|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
54|54|NULL|土木学院|地空1802|刘佳欢|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
55|55|NULL|土木学院|地空1802|刘佳豪|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
56|56|NULL|土木学院|运输1841|谢天奇|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
57|57|NULL|土木学院|运输1841|张枝强|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
58|58|NULL|土木学院|运输1841|岳静楠|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
59|59|NULL|土木学院|工程1841|李振宇|2019-2020学年第一学期打卡不合格|2020-2021年第一学期
60|60|NULL|土木学院|机制1841|李卓衡|2019-2020学年第一学期打卡不合格|2020-2021年第一学期

In [33]:
data.to_csv(sys.stdout, index=False, columns=[data.iloc[:, 3], data.iloc[:, 4]])

KeyError: "None of [Index([('班级', '土木1803', '土木1801', '土木1801', '土木1801', '土木1802', '土木1802', '土木1802', '土木1802', '土木1802', '土木1802', '土木1803', ' 土木1801 ', '土木1801', '排水1703', '排水1703', '建筑1801', '建筑1801', '建筑1801', '建筑1801', '建筑1802', '建筑1802', '土木1801', '土木1801', '土木1802', '土木1803', '土木1803', '排水1801', '排水1702', '排水1703', '土木1703', '土木1703', '土木1803', '土木1703', '土木1703', '采矿1801', '采矿1801', '采矿1801', '采矿1801', '运输1801', '运输1801', '运输1801', '运输1802', '运输1802', '运输1802', '运输1802', '运输1802', '运输1802', '运输1802', '运输1802', '运输1802', '地空1801', '地空1801', '地空1801', '地空1802', '地空1802', '运输1841', '运输1841', '运输1841', '工程1841', '机制1841'), ('姓名', '唐钰明', '才宇', '李想', '徐伟贺', '陈朝刚', '樊伟', '金祥宇', '宁永浩', '武雨婷', '袁书林', '杨万辉', ' 李想', ' 崔杰', '艾丽非热·艾合买提', '殷毅然', '努尔波·努尔江', '叶斯波力·马英得拉', '娜迪亚·麦旦', '德丽娜·木呼亚提', '叶斯布力·马合萨提', '道林·哈依沙尔', '李强', '叶拉曼·也尔江', '阿克朱力', '肖凌凌', '杨杰', '周江', '刘明健', '殷毅然', '阿布杜许库尔·阿不来提', '布勒宏·木拉提别克', '唐钰明', '奚名响', '张宝东', '万里', '姜宏勃', '阿迪力·买合苏提', '穆拉迪力江·麦麦提', '刘斌', '玛拉提·色尔克布力', '韩晓雨', '吕治岩', '刘明澳', '王有俊', '阳祺麟', '陈凌霄', '迪吾然·迪本拉提', '邵明涛', '任文花', '顾子恒', '黄可镇', '李辰泽', '阿克卓尔·阿克帕尔', '刘佳欢', '刘佳豪', '谢天奇', '张枝强', '岳静楠', '李振宇', '李卓衡')], dtype='object')] are in the [columns]"

In [36]:
data.iloc[0]

Unnamed: 0                   0
2020-2021年第一学期土木学院补操名单      序号
Unnamed: 1                  学院
Unnamed: 2                  班级
Unnamed: 3                  姓名
Unnamed: 4                  原因
Unnamed: 5                补刷时间
Name: 0, dtype: object

In [60]:
data1 = {
    data.iloc[0, 2]: data.iloc[1:, 2],
    data.iloc[0, 3]: data.iloc[1:, 3],
    data.iloc[0, 4]: data.iloc[1:, 4],
    data.iloc[0, 5]: data.iloc[1:, 5]
}

index = data.iloc[0, 2:]
data2 = pd.DataFrame(data1, columns=index)
data2

0     学院        班级           姓名                         原因 补刷时间
1   土木学院    土木1803          唐钰明  2018-2019第一学期旷操超过总刷卡次数20%  NaN
2   土木学院    土木1801           才宇  2018-2019第一学期旷操超过总刷卡次数20%  NaN
3   土木学院    土木1801           李想  2018-2019第一学期旷操超过总刷卡次数20%  NaN
4   土木学院    土木1801          徐伟贺  2018-2019第一学期旷操超过总刷卡次数20%  NaN
5   土木学院    土木1802          陈朝刚                       被替打卡  NaN
6   土木学院    土木1802           樊伟  2018-2019第二学期旷操超过总刷卡次数20%  NaN
7   土木学院    土木1802          金祥宇  2018-2019第一学期旷操超过总刷卡次数20%  NaN
8   土木学院    土木1802          宁永浩                       被替打卡  NaN
9   土木学院    土木1802          武雨婷  2018-2019第一学期旷操超过总刷卡次数20%  NaN
10  土木学院    土木1802          袁书林                       被替打卡  NaN
11  土木学院    土木1803          杨万辉                       被替打卡  NaN
12  土木学院   土木1801            李想                       被替打卡  NaN
13  土木学院    土木1801           崔杰                       被替打卡  NaN
14  土木学院    排水1703    艾丽非热·艾合买提       2019-2020学年第一学期打卡不合格  NaN
15  土木学院    排水1703          殷毅然       2019-2020学年第一学期打卡不合格  NaN
16  土木学院    建筑1801      努尔波·努尔江       2019-2020学年第一学期打卡不合格  NaN
17  土木学院    建筑1801    叶斯波力·马英得拉       2019-2020学年第一学期打卡不合格  NaN
18  土木学院    建筑1801       娜迪亚·麦旦       2019-2020学年第一学期打卡不合格  NaN
19  土木学院    建筑1801     德丽娜·木呼亚提       2019-2020学年第一学期打卡不合格  NaN
20  土木学院    建筑1802    叶斯布力·马合萨提       2019-2020学年第一学期打卡不合格  NaN
21  土木学院    建筑1802      道林·哈依沙尔       2019-2020学年第一学期打卡不合格  NaN
22  土木学院    土木1801           李强       2019-2020学年第一学期打卡不合格  NaN
23  土木学院    土木1801      叶拉曼·也尔江       2019-2020学年第一学期打卡不合格  NaN
24  土木学院    土木1802         阿克朱力       2019-2020学年第一学期打卡不合格  NaN
25  土木学院    土木1803          肖凌凌       2019-2020学年第一学期打卡不合格  NaN
26  土木学院    土木1803           杨杰       2019-2020学年第一学期打卡不合格  NaN
27  土木学院    排水1801           周江       2019-2020学年第一学期打卡不合格  NaN
28  土木学院    排水1702          刘明健       2019-2020学年第一学期打卡不合格  NaN
29  土木学院    排水1703          殷毅然       2019-2020学年第一学期打卡不合格  NaN
30  土木学院    土木1703  阿布杜许库尔·阿不来提       2019-2020学年第一学期打卡不合格  NaN
31  土木学院    土木1703    布勒宏·木拉提别克       2019-2020学年第一学期打卡不合格  NaN
32  土木学院    土木1803          唐钰明       2019-2020学年第一学期打卡不合格  NaN
33  土木学院    土木1703          奚名响       2019-2020学年第一学期打卡不合格  NaN
34  土木学院    土木1703          张宝东       2019-2020学年第一学期打卡不合格  NaN
35  土木学院    采矿1801           万里       2019-2020学年第一学期打卡不合格  NaN
36  土木学院    采矿1801          姜宏勃       2019-2020学年第一学期打卡不合格  NaN
37  土木学院    采矿1801     阿迪力·买合苏提       2019-2020学年第一学期打卡不合格  NaN
38  土木学院    采矿1801    穆拉迪力江·麦麦提       2019-2020学年第一学期打卡不合格  NaN
39  土木学院    运输1801           刘斌       2019-2020学年第一学期打卡不合格  NaN
40  土木学院    运输1801    玛拉提·色尔克布力       2019-2020学年第一学期打卡不合格  NaN
41  土木学院    运输1801          韩晓雨       2019-2020学年第一学期打卡不合格  NaN
42  土木学院    运输1802          吕治岩       2019-2020学年第一学期打卡不合格  NaN
43  土木学院    运输1802          刘明澳       2019-2020学年第一学期打卡不合格  NaN
44  土木学院    运输1802          王有俊       2019-2020学年第一学期打卡不合格  NaN
45  土木学院    运输1802          阳祺麟       2019-2020学年第一学期打卡不合格  NaN
46  土木学院    运输1802          陈凌霄       2019-2020学年第一学期打卡不合格  NaN
47  土木学院    运输1802     迪吾然·迪本拉提       2019-2020学年第一学期打卡不合格  NaN
48  土木学院    运输1802          邵明涛       2019-2020学年第一学期打卡不合格  NaN
49  土木学院    运输1802          任文花       2019-2020学年第一学期打卡不合格  NaN
50  土木学院    运输1802          顾子恒       2019-2020学年第一学期打卡不合格  NaN
51  土木学院    地空1801          黄可镇       2019-2020学年第一学期打卡不合格  NaN
52  土木学院    地空1801          李辰泽       2019-2020学年第一学期打卡不合格  NaN
53  土木学院    地空1801    阿克卓尔·阿克帕尔       2019-2020学年第一学期打卡不合格  NaN
54  土木学院    地空1802          刘佳欢       2019-2020学年第一学期打卡不合格  NaN
55  土木学院    地空1802          刘佳豪       2019-2020学年第一学期打卡不合格  NaN
56  土木学院    运输1841          谢天奇       2019-2020学年第一学期打卡不合格  NaN
57  土木学院    运输1841          张枝强       2019-2020学年第一学期打卡不合格  NaN
58  土木学院    运输1841          岳静楠       2019-2020学年第一学期打卡不合格  NaN
59  土木学院    工程1841          李振宇       2019-2020学年第一学期打卡不合格  NaN
60  土木学院    机制1841          李卓衡       2019-2020学年第一学期打卡不合格  NaN

In [1]:
import pandas as pd
import sys
import numpy as np

In [2]:
data = pd.DataFrame(data=np.random.randint(100, size=(100, 5)))

In [4]:
data.to_csv(sys.stdout, index=False, header=False)

41,13,36,87,72
24,36,84,21,79
10,52,63,25,3
34,7,23,54,4
58,12,1,19,9
48,8,25,63,5
67,28,73,44,57
35,46,94,57,11
16,58,44,93,49
74,22,82,9,9
61,24,52,21,98
16,59,20,15,63
23,79,59,44,47
71,49,21,90,1
57,32,71,8,83
54,14,43,57,46
10,68,33,69,13
85,81,81,33,53
5,13,69,6,51
7,42,28,73,47
59,5,87,14,26
19,0,65,40,58
43,9,32,37,99
47,89,83,31,76
57,26,35,10,58
26,66,68,64,20
96,74,0,0,64
33,42,28,29,74
35,92,6,82,26
62,28,66,20,3
59,72,15,52,27
17,7,58,53,33
73,61,53,43,46
61,89,21,40,14
24,22,84,88,75
42,23,74,87,93
12,62,32,86,38
33,90,2,86,84
57,15,63,98,44
60,27,47,63,20
0,27,20,38,60
17,39,61,57,2
69,57,51,38,77
8,35,91,75,98
61,93,79,9,76
10,66,11,46,54
53,41,58,32,4
86,90,37,85,80
96,12,15,90,74
6,29,87,15,74
74,30,30,95,60
26,50,66,19,76
51,93,45,75,1
99,18,58,61,11
21,37,82,83,70
48,2,15,78,90
6,69,56,70,8
63,3,97,63,91
97,38,82,7,63
44,32,44,6,28
52,45,26,63,33
11,4,61,2,46
7,96,73,72,94
52,80,28,95,79
23,92,58,31,31
44,97,81,41,22
27,2,96,44,64
0,7,99,84,4
20,33,12,26,9
91,86,82,59,43
99,59,33,22,52
62,55,74,80,0
90,99,71,69,5
4,89,59,28,72
77,23,50,19,59
83,71,83,73,43
63,99,79,33,42
50,85,30,76,83
85,17,45,29,17
64,25,41,29,51
5,1,94,85,65
78,13,99,61,92
31,76,18,46,67
24,87,71,58,37
94,99,50,8,6
59,49,94,23,57
88,9,99,31,18
56,76,17,78,60
2,53,31,79,66
0,41,99,55,28
49,45,45,34,36
58,53,41,85,45
22,17,78,59,85
84,55,54,91,78
45,22,54,72,4
45,5,52,79,92
83,17,37,56,29
87,8,64,44,93
18,46,63,92,77
51,42,29,43,1

### series 的to_csv

In [6]:
data1 = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=data1)
ts.to_csv(sys.stdout, header=None)

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [7]:
data2 = pd.DataFrame(data=[["a","b","c"],
                            ["1","2","3"],
                            ["1","2","3"]])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
 2   2       3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

### json数据

In [16]:
obj = """
{"name": "Wes",
     "places_lived": ["United States", "Spain", "Germany"],
     "pet": null,
     "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
                  {"name": "Katie", "age": 38,
                   "pets": ["Sixes", "Stache", "Cisco"]}]}
"""

通过json.loads即可将JSON字符串转换成Python形式：

In [18]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

json.dumps则将Python对象转换成JSON格式：

In [19]:
obj_json = json.dumps(result)

In [25]:
data2 = pd.DataFrame(data=result['siblings'], columns=['name', 'age', 'pets'])

In [26]:
data2

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

### xml, lxml

In [29]:
data3 = pd.DataFrame([
    ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date', 'Updated Date'],
    ['Allied Bank', 'Mulberry', 'AR', 91, "Today's Bank", 'September 23', 2016,  "November 17, 2016"] 
])

In [30]:
data3

,0,1,2,3,4,5,6,7
0,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,None
1,Allied Bank,Mulberry,AR,91,Today's Bank,September 23,2016,"November 17, 2016"

### Excel

### 数据库

In [31]:
import sqlite3

In [32]:
query = """
       CREATE TABLE test(a VARCHAR(20), b VARCHAR(20),c REAL, d INTEGER);
       """

In [33]:
con = sqlite3.connect('mydata.sqlite3')

In [34]:
con.execute(query)

In [35]:
con.commit()

In [36]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = 'INSERT INTO test VALUES(?, ?, ?, ?)'
con.executemany(stmt, data)

In [37]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [39]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5